{% load static %}

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chiqishga tayyormisiz?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Joriy seansni tugatish uchun quyidagi "Chiqish" tugmasini bosing.</div>
            <div class="modal-footer"> 
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Bekor qilish</button>
                <a class="btn btn-primary" href="{% url 'authentication:logout' %}">Chiqish</a>
            </div>
        </div>
    </div>
</div>